
body{
  background-color: #000000;


}

p{
  color: rgb(250, 219, 20);
}

a{
  color: rgb(250, 219, 20);
}

h1, h2, h3, h4, h5, h6{
  color: rgb(250, 219, 20);
}

*{
  font-family: arial;
}

ul, li {
  color: rgb(250, 219, 20);
}


/*main page*/

.desktop-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(250, 219, 20);
}

.logo {
  width: 100px; 
}

.nav-desktop {
  flex-grow: 1;
  text-align: center;
}

.nav-desktop ul {
  list-style-type: none;
  padding: 0;
}

.nav-desktop ul li {
  display: inline-block;
  margin-right: 20px; 
  font-weight: bold;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin-right: 15px;
}

.social-media img {
  width: 20px; 
  margin-bottom: 10px; 
}

.moon-head{
  display: flex;
  justify-content: center;
}

.moon{
  width: 100%;
  max-width: 1250px;
}

.main-header{
  font-size: 5vh;
  text-align: center;
  margin-bottom: 45px;
}

.intro-pictures{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin-bottom: 45px;
  align-items: center;
}

.goggles, .space{
  border: 1px solid rgb(250, 219, 20);
  border-radius: 60px;
  width: 100%;
  max-width: 350px;
  min-width: 100px;
  height: auto;
}

.intro-desktop-first{
  display: flex;
  justify-content: center;
  border-top: 45px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
}

.intro-desktop{
  display: flex;
  justify-content: center;
  border-top: 45px;
  text-align: center;
  margin-bottom: 25px;
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testing-kit, .ai-glasses, .dice{
  width: 100%;
  max-width: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.browse-ex{
  position: relative;
  text-align: center;
}

.exhibits{
  color: rgb(250, 219, 20);
  font-size: 3vh;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.browse{
  background-color: none;
  background: none;
  border: none;
  color: rgb(250, 219, 20);
  font-size: 1.5vh;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  cursor: pointer;
}

.insidemuseum{
  width: 100%;
  max-width: 1250px;
}

.explorewhat{
  font-size: 50px;
  text-align: center;
}

.explore-card{
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border: solid 1px yellow;
  align-items: center;
  margin: 0 auto;
  min-width: 100px;
  margin-bottom: 20px;
}

.explore-img{
  width: 350px;
  min-width: 100px;
}

.text{
  display: flex;
  flex-direction: column;
  margin-right: 25px;
  line-height: 30px;
  text-align: center;
  line-height: 35px;
}

.explore-card ul {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
}

.explore-card-reverse ul {
  list-style-type: none;
  font-size: 20px;
  text-align: center;
}

.card-title{
  margin-left: 35px;
  font-size: 35px;
  margin-bottom: 10px;
}

.explore-card-reverse{
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border: solid 1px yellow;
  align-items: center;
  margin: 0 auto;
  min-width: 100px;
  margin-bottom: 20px;
}

.upcoming{
  text-align: center;
  margin-top: 55px;
  margin-bottom: 35px;
  font-size: 3vh;
}

.upcoming-events{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.events-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 200px;
  border: 1px solid;
  border-color: rgb(250, 219, 20);
  background-color: rgb(250, 219, 20);
  margin-bottom: 25px;
}


.title-card{
  margin-top: 10px;
  text-align: left;
  color: #000000;
  font-weight: bold;
}

.information-card{
  margin-top: 5px;
  font-size: 14px;
  padding: 5px;
  color: #000000;
}

.img-card{
  height: 300px;
  width: auto;
}

.moreevents{
  background: none;
  border: none;
  color: rgb(250, 219, 20);
  text-decoration: underline;
  font-size: 2vh;
  margin-top: 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}














//*footer*//

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-icons{
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
  margin-top: 55px;
  margin-bottom: 55px;
}

.facebook {
  width: 100%;
  max-width: 20px;
}

.instagram{
  width: 100%;
  max-width: 20px;
}

.twitter{
  width: 100%;
  max-width: 20px;
}

.linkedin{
  width: 100%;
  max-width: 20px;
}

.footer-nav ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 10px;
  align-items: center;
}

.termsetc{
  color: white;
}