
body{
  background-color: #000000;
}

p{
  color: rgb(250, 219, 20);
}

a{
  color: rgb(250, 219, 20);
}

h1{
  color: rgb(250, 219, 20);
}

*{
  font-family: arial;
}


/*main page*/

.desktop-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.logo {
  width: 100px; /* Adjust width as needed */
}

.nav-desktop {
  flex-grow: 1;
  text-align: center;
}

.nav-desktop ul {
  list-style-type: none;
  padding: 0;
}

.nav-desktop ul li {
  display: inline-block;
  margin-right: 20px; /* Adjust spacing between navbar items */
}

.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  margin-right: 10px;
}

.social-media img {
  width: 20px; /* Adjust size of social media icons */
  margin-bottom: 10px; /* Adjust spacing between social media icons */
}

.moon-head{
  display: flex;
  justify-content: center;
}

.moon{
  width: 100%;
  max-width: 1000px;
}

.main-header{
  text-align: center;
}

.intro-pictures{
  display: flex;
  flex-direction: row;
  gap: 25px;
  justify-content: center;
}

.googles, .space{
  width: 100%;
  max-width: 400px;
  border: 1px solid rgb(250, 219, 20);
  border-radius: 50px;
}

