@import url("./_reset.css");

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*{
  font-family: 'Inter', sans-serif;
}

body{
  background-color: #000000;
  cursor: url(/assets/images/icons/arrow-pointer-solid.svg), auto;

h1, h2, h3, h4, h5, h6{
  color: rgb(250, 219, 20);
}

h1 {
  text-align: center;
}

a {
  color: rgb(250, 219, 20);
}

/*main page*/

.desktop-header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid rgb(250, 219, 20);
  display: none;
}

.nav-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 85px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(250, 219, 20);
}

.logo{
  width: 6rem;
}

.burger{
  width: 5rem;
}

.hidden-burger{
  display: none;
  overflow: hidden;
}

#hamburger-ham{
  display: none;
}

#hamburger-ham:checked~.hidden-burger{
  padding: 10px;
  display: block;
  position: absolute;
  top: 20%;
  background-color: rgb(250, 219, 20); 
  width: 100%;
  height: 200%;
  left: 0px;
}

.top-buttons{
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-left: 40px;
  margin-bottom: 60px;
}

.top-buttons a{
  color: black;
  font-size: 25px;
  text-decoration: none;
}

.nav-desktop {
  flex-grow: 1;
  text-align: center;
}

.nav-desktop ul {
  list-style-type: none;
  padding: 0;
}

.nav-desktop ul li {
  display: inline-block;
  margin-right: 20px; 
  font-weight: bold;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 5px;
  margin-right: 15px;
  display: none;
}

.social-media img {
  width: 20px; 
  margin-bottom: 10px; 
}

.moon-head{
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.moon{
  width: 100%;
  max-width: 1250px;
}

.main-header{
  font-size: 30px;
  text-align: center;
  margin-bottom: 45px;
  color: rgb(250, 219, 20);
}

.free{
  font-size: 20px;
  margin-left: 7px;
  margin-right: 7px;
}

.free a{
  color: rgb(250, 219, 20);
}

.intro-desktop-first{
  align-items: center;
}

.intro-pictures{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
  margin-bottom: 45px;
  align-items: center;
}

.goggles, .space{
  border: 1px solid rgb(250, 219, 20);
  border-radius: 60px;
  width: 100%;
  max-width: 350px;
  min-width: 100px;
  height: auto;
}

.intro-desktop-first{
  display: flex;
  justify-content: center;
  border-top: 45px;
  text-align: center;
  margin-bottom: 25px;
  font-weight: bold;
  color: rgb(250, 219, 20);
}

.intro-desktop{
  display: flex;
  justify-content: center;
  border-top: 45px;
  text-align: center;
  margin-bottom: 25px;
  color: rgb(250, 219, 20);
}

.icons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.testing-kit, .ai-glasses, .dice{
  width: 100%;
  max-width: 80px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.browse-ex{
  position: relative;
  text-align: center;
}

.exhibits{
  color: rgb(250, 219, 20);
  font-size: 30px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.browse{
  background-color: none;
  background: none;
  border: none;
  color: rgb(250, 219, 20);
  font-size: 20px;
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-decoration: underline;
  cursor: pointer;
}

.insidemuseum{
  width: 100%;
  max-width: 1250px;
}

.explorewhat{
  font-size: 30px;
  text-align: center;
}

.explore-card{
  width: 100%;
  max-width: 350px;
  min-width: none;
  display: flex;
  flex-direction: column;
  border: solid 1px yellow;
  min-width: 100px;
  color: rgb(250, 219, 20);
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.explore-img{
  width: 100%;
  max-width: 350px;
  min-width: 100px;
}

.explore-img-reverse{
  width: 350px;
  min-width: 100px;
}

.text{
  display: flex;
  flex-direction: column;
  line-height: 23px;
}

.text-teacher{
  display: flex;
  flex-direction: column;
  line-height: 25px;
}


.explore-card ul {
  font-size: 16px;
}

.explore-card-reverse ul {
  font-size: 16px;
}

.card-title{
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
}

.card-title-researchers{
  font-size: 25px;
  margin-bottom: 10px;
  text-align: center;
  margin-top: 45;
}

.explore-card-reverse{
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  border: solid 1px yellow;
  min-width: 100px;
  color: rgb(250, 219, 20);
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}

.upcoming{
  text-align: center;
  margin-top: 55px;
  margin-bottom: 35px;
  font-size: 25px;
}

.upcoming-events{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.events-card{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 235px;
  border: 1px solid;
  border-color: rgb(250, 219, 20);
  background-color: rgb(250, 219, 20);
  margin-bottom: 25px;
}


.title-card{
  margin-top: 10px;
  text-align: left;
  color: #000000;
  font-weight: bold;
  margin-bottom: 0px;
  padding: 5px;
}

.information-card{
  margin-top: 5px;
  font-size: 14px;
  padding: 5px;
  color: #000000;
}

.img-card{
  width: 100%;
  max-width: 250px;
  height: 350px;
}

.source{
  font-size: 10px;
  text-align: center;
}

.moreevents{
  background: none;
  border: none;
  color: rgb(250, 219, 20);
  text-decoration: underline;
  font-size: 2vh;
  margin-top: 15px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
  cursor: pointer;
}

.moreevents a{
  color: rgb(250, 219, 20);
}

/*events & exhibitions page*/

.new-events{
  text-align: center;
}

.events-intro{
  color: rgb(250, 219, 20);
  text-align: center;
  align-items: center;
  line-height: 20px;
  margin-bottom: 30px;
}

.events-1{
  text-align: center;
}

.events-2{
  text-align: center;
  margin-bottom: 35px;
}

.first-row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.second-row{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.visith3{
  margin-bottom: 0px;
}

.visit-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.user-text{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(250, 219, 20);
  margin-top: 0px;
  width: 100%;
  max-width: 350px;
  text-align: center;
}

.visit-icon{
  width: 100%;
  max-width: 50px;
  align-items: center;
  margin-bottom: 25px;
}

.museum-images{
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  
}

.museum1, .museum2{
  width: 100%;
  max-width: 300px;
  margin-bottom: 25px;
}

.address-visit{
  text-align: center;
}

/*contact page*/

.page-header{
  text-align: center;
}

.question{
  width: 100%;
  max-width: 80px;
  display: block;
  margin: 0 auto;
  margin-bottom: 25px;
}

.info-boxes{
  display: flex;
  flex-direction: column;
  width: 320px;
  gap: 15px;
  margin: 0 auto;
}

.box{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 1px solid rgb(250, 219, 20);
}

.info-boxes p{
  color: rgb(250, 219, 20);
  font-weight: 600;
}

.location{
  width: 100%;
  max-width: 65px;
}

.phone{
  width: 100%;
  max-width: 45px;
}

.mail{
  width: 100%;
  max-width: 45px;
}

.address{
  padding-bottom: 0px;
}

.request{
  margin-top: 45px;
  margin-bottom: 15px;
  text-align: center;
}

.name{
  height: 2.3rem;
  width: 100%;
  max-width: 15rem;
  background-color: rgb(250, 219, 20);
  border: none;
  font-size: 12px;
  font-weight: bold;
  padding-left: 5px;
  margin-bottom: 15px;
}

.message-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5px;
  font-size: 15px;
}

::placeholder {
  color: black;
}

.email{
  margin-bottom: 1rem;
  height: 2.3rem;
  width: 100%;
  max-width: 15rem;
  font-family: inherit;
  font-size: 12px;
  margin-bottom: 15px;
  background-color: rgb(250, 219, 20);
  border: none;
  font-weight: bold;
  padding-left: 5px;
}

.message-wrapper {
  height: 10rem;
  width: 100%;
  max-width: 15rem;
  position: relative; 
}

.message {
  width: 100%; 
  max-width: 15rem;
  height: 100%;
  resize: none;         
  font-family: inherit;  
  font-size: 12px;     
  background-color: rgb(250, 219, 20);
  border: none;
  font-weight: bold;
  padding-left: 5px;
  margin-left: -2px;
}

.message::placeholder { 
  color: black;
  opacity: 1;
}

.send {
  position: absolute;
  bottom: 0;
  right: 10px;
  background-color: black;
  color: rgb(250, 219, 20);
  border: none;
  padding: 5px 10px;
  border-radius: 2px;
  font-weight: bold;
}

.send:hover{
  cursor: pointer;
}

.entry-info{
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.openinghrs, .admission{
  color: rgb(250, 219, 20);
  border: 1px solid rgb(250, 219, 20);
  width: 100%;
  max-width: 247px;
  line-height: 25px;
  margin-bottom: 25px;
}

.contacth5{
  text-align: center;
}

/*contribute page*/

.contribute-card{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  border: 1px solid rgb(250, 219, 20);
  width: 350px;
  margin-bottom: 25px;
}

.contribute-card-reverse{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgb(250, 219, 20);
  width: 350px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.contribute-text{
  width: 100%;
  max-width: 300px;
  text-align: center;
  color: rgb(250, 219, 20);
  margin: 0 auto;
}

.contribute-text-reverse{
  width: 100%;
  max-width: 300px;
  text-align: center;
  color: rgb(250, 219, 20);
  margin: 0 auto;
}

.contribute-img-reverse{
  width: 100%;
  max-width: 400px;
}

/*privacy and terms page*/

.update{
  text-align: center;
}

.privacy-header{
  margin-bottom: 0px;
}

.privacy-text{
  font-size: 14px;
  color: rgb(250, 219, 20);
}

.privacy-wrapper ul{
  color: rgb(250, 219, 20);
  font-size: 14px;
  padding: 0px;
}

/*footer*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(250, 219, 20);
  border-top: 1px solid rgb(250, 219, 20);
}

.footer-icons{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.facebook {
  width: 100%;
  max-width: 20px;
}

.instagram{
  width: 100%;
  max-width: 20px;
}

.twitter{
  width: 100%;
  max-width: 20px;
}

.linkedin{
  width: 100%;
  max-width: 20px;
}

.footer-nav ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  gap: 15px;
  font-weight: bold;
  font-size: 12px;
}

.footer-nav a{
  color: rgb(250, 219, 20);
  text-decoration: none;
}

.termsetc a{
  color: white;
  text-decoration: none;
}

.footer-nav, .termsetc{
  cursor: pointer;
}

.newsletter-form{
  display: flex;
  width: 200px;
  margin-bottom: 15px;
  margin-top: 0px;
}

input[type="email"]{
  background-color: rgb(250, 219, 20);
  border: 1px solid rgb(250, 219, 20);
  width: 110px;
}

button[type="submit"]{
  background-color: black;
  color: rgb(250, 219, 20);
  border: 1px solid rgb(250, 219, 20);
  padding: 5px;
}

.join{
  color: rgb(250, 219, 20);
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

.visually-hidden{
display: none;
}


@media only screen and (min-width: 769px) {

/*header*/

.nav-grid{
  display: none;
}

    .desktop-header {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 1px solid rgb(250, 219, 20);
    }
  }

  .nav-desktop {
    flex-grow: 1;
    text-align: center;
  }
  
  .nav-desktop ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav-desktop ul li {
    display: inline-block;
    margin-right: 20px; 
    font-weight: bold;
  }

  .nav-desktop a{
    color: rgb(250, 219, 20);
  }
  
  .social-media {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 5px;
    margin-right: 15px;
  }
  
  .social-media img {
    width: 20px; 
    margin-bottom: 10px; 
  }

  /*main page*/

  .intro-pictures{
    display: flex;
    flex-direction: row;
  }

  .goggles, .space{
    width: 100%;
    max-width: 450px;
  }

  .exhibits{
    color: rgb(250, 219, 20);
    font-size: 40px;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .browse{
    background-color: none;
    background: none;
    border: none;
    color: rgb(250, 219, 20);
    font-size: 20px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: underline;
    cursor: pointer;
  }
  
  .insidemuseum{
    width: 100%;
    max-width: 800px;
  }

  .intro-desktop{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 45px;
  }


  .explore-card{
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 650px;
    height: auto;
  }

  .card-title{
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .explore-img{
    width: 100%;
    max-width: 350px;
    height: 300px;
  }

  .text{
    display: flex;
    flex-direction: column;
}

.text li{
  padding-right: 5px;
  padding-left: 0px;
}

.explore-card-reverse{
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 650px;
}

.explore-img-reverse{
  width: 320px;
  min-width: 100px;
  height: 270px;
}

.text-teacher{
  width: 300px;
}

.upcoming-events{
  display: flex;
  flex-direction: row;
  gap: 65px;
  align-items: normal;
  height: auto;
}


/*events & exhibitions page*/


.events-1{
  margin-bottom: 40px;
}
.upcoming-events{
  display: flex;
  flex-direction: row;
}

.events-2{
  text-align: center;
  margin-bottom: 40px;
}
.first-row{
  display: flex;
  flex-direction: row;
  gap: 65px;
  align-items: normal;
  justify-content: center;
}

.second-row{
  display: flex;
  flex-direction: row;
  gap: 65px;
  align-items: normal;
  justify-content: center;
  margin-top: 25px;
}

/*visit page*/

.visith3{
  align-self: baseline;
}

.user-text{
  display: flex;
  flex-direction: column;
  text-align: left;
}

.visit-info{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: last baseline;
}

.museum-images{
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  margin-top: 70px;
}

.museum1, .museum2 {
  width: 100%;
  max-width: 350px;
}


/*contact page*/

.info-boxes{
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: normal;
  justify-content: center;
}

.phone{
  width: 100%;
  max-width: 40px;
  height: 30px;
}

.mail{
  width: 100%;
  max-width: 40px;
  height: 35px;
}

.location{
  width: 100%;
  max-width: 50px;
  height: 40px;
}

.box{
  width: 250px;
  align-items: center;
}

.address, .number, .e-mail{
  font-size: 12px;
}

.entry-info{
  display: flex;
  flex-direction: row;
  font-size: 14px;
  align-items: normal;
  justify-content: center;
  gap: 55px;
  margin-top: 50px;
  margin-bottom: 50px;
}

/*contribute page*/

.contribute-card{
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  border: 1px solid rgb(250, 219, 20);
  margin-bottom: 25px;
}

.contribute-card-reverse{
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  border: 1px solid rgb(250, 219, 20);
  margin: 0 auto;
  margin-bottom: 25px;
}

.contribute-text{
  width: 100%;
  text-align: center;
  color: rgb(250, 219, 20);
  margin: 0 auto;
}

.contribute-text-reverse{
  width: 100%;
  text-align: center;
  color: rgb(250, 219, 20);
  margin: 0 auto;
}

.contribute-img{
  width: 100%;
  max-width: 400px;
}

.contribute-img-reverse{
  width: 400px;
}

/*desktop footer*/

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid rgb(250, 219, 20);
  border-top: 1px solid rgb(250, 219, 20);
}

.footer-icons{
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.facebook {
  width: 100%;
  max-width: 20px;
}

.instagram{
  width: 100%;
  max-width: 20px;
}

.twitter{
  width: 100%;
  max-width: 20px;
}

.linkedin{
  width: 100%;
  max-width: 20px;
}

.footer-nav ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 0;
  gap: 15px;
  font-weight: bold;
  justify-content: space-evenly;
}

.footer-nav a{
  color: rgb(250, 219, 20);
  text-decoration: none;
}

.termsetc a{
  color: white;
  text-decoration: none;
  font-size: 12px;
  margin-bottom: 0px;
}

.footer-nav, .termsetc{
  cursor: pointer;
}


.newsletter-form{
  display: flex;
  width: 200px;
  margin-bottom: 15px;
  margin-top: 0px;
}

input[type="email"]{
  background-color: rgb(250, 219, 20);
  border: 1px solid rgb(250, 219, 20);
  width: 110px;
}

button[type="submit"]{
  background-color: black;
  color: rgb(250, 219, 20);
  border: 1px solid rgb(250, 219, 20);
  padding: 5px;
}

.join{
  color: rgb(250, 219, 20);
  font-size: 10px;
  font-weight: 600;
  text-align: center;
}

}